# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/


# ignore pages, CSS and javascript for local use only
src/pages/master.astro
src/pages/bakery.html
src/pages/clip_path.astro
src/pages/index_default.astro
src/pages/manage.html
src/pages/scroll.html
src/pages/scroller.astro
src/scripts/manage.js
src/scripts/master.js
src/styles/bakery.css
src/styles/manage.css

# vscode
.vscode/