/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Original+Surfer&family=Paprika&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
    --text-color: hsl(0, 0%, 95%);
    --text-color-medium: hsl(0, 0%, 25%);
    --text-color-dark: hsl(0, 0%, 10%);
    --text-color-accent: hsl(240, 40%, 60%);
    --bg-color-banana: hsl(48, 94%, 60%);
    --bg-color-mango: hsl(78, 66%, 60%);
    --bg-color-water-apple: hsl(0, 55%, 51%);
    --bg-color-sugar-apple: hsl(269, 57%, 67%);


    --active-fruit-color: hsl(from var(--bg-color-banana) h s l);
    --button-color: hsl(from var(--active-fruit-color) h s 50%);
    --button-color-hover: hsl(from var(--button-color)h s 67%);
    --button-box-shadow-color: hsl(from var(--button-color) h s 35%);
    --body-color: hsl(from var(--active-fruit-color) h s l);
    --link-hover-color: var(--button-color);

    /* spacing */
    --padding-100: 1rem;
    --padding-150: 1.5rem;
    --padding-200: 2rem;

    /* Size */
    --height-500: 5rem;
    --height-600: 6rem;

    --size-300: 3rem;
    --size-200: 2rem;
    --size-100: 1rem;

    /* fonts */
    --body-font: Inter, sans-serif;
    --font-size: 1.5rem;
    --font-title-size: 3rem;
    --font-description: 1.25rem;


    --content-value: '0';

}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: all .5s ease;

}

html {
    scroll-behavior: smooth;
}

body,
button {
    font-family: var(--body-font);
    font-size: var(--font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);

}

button {
    border: none;
    outline: none;

}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-weight: var(--font-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.wrapper {
    max-width: 1120px;
    margin: var(--padding-150);
}



/* Header and Nav */

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}


.nav__wrapper {
    display: flex;
    justify-content: space-between;
    max-height: var(--height-600);
    max-width: 100%;
    align-items: center;
    background-color: transparent;

}


.nav__list {
    display: flex;
    gap: var(--size-300);
    font-family: Paprika, sans-serif;
    font-weight: bold;
    text-shadow: 0 .2rem .1rem black;

}

i {
    font-size: var(--font-title-size);
}

.nav__close,
.nav__hamburger {
    display: none;
    cursor: pointer;

}


.nav__list a:hover {
    color: var(--link-hover-color);
}

.nav__list a.active-link {
    color: var(--link-hover-color);
}



@media screen and (max-width:64em) {
    .nav__list {
        display: grid;
        justify-content: center;
    }

    .nav__menu {
        position: fixed;
        top: 0%;
        right: -100%;
        width: 40%;
        height: 100%;
        transition: right .4s;

    }

    .nav__close,
    .nav__hamburger {
        display: block;
    }


    .button[data-type="get"] {
        position: fixed;
        right: 2%;
        bottom: 10%;

    }

    .nav__menu:before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: hsla(140, 0%, 97%, .025);
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
        z-index: -1;
    }


    .show-menu {
        right: 0%;
    }
}


.logo__img {
    height: 90px;
    border-radius: 100vw;
}

.button {
    width: fit-content;
    padding: var(--padding-100) var(--padding-200);
    border-radius: .5rem;
    background-color: var(--button-color);
    cursor: pointer;
    color: var(--text-color);
    box-shadow: 0 1rem 1rem -.3rem var(--button-box-shadow-color);
}

.button:hover {
    background-color: var(--button-color-hover);
}


.shop__group {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.shop__group i {
    font-size: 2rem;
    position: relative;
}

.shop__group div {
    position: relative;
    cursor: pointer;

}


.shop__group span {
    position: absolute;
    background-color: blue;
    top: -.5rem;
    right: -.5rem;
    font-size: var(--font-description);
    border-radius: 100vw;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;

}


.shopping__cart {
    /* background-color: blue; */
    position: absolute;
    top: 15%;
    right: 0;
    bottom: 0;
    border-radius: .25rem;
    translate: 100%;
    width: min(35rem, 100%);
    z-index: 2;
}

.shopping__cart::after {
    content: '';
    position: absolute;
    inset: 0;
    backdrop-filter: blur(16px);
    border-radius: .25rem;
    z-index: -1;
    /* background-color: lightgray; */
}

.slide-in {

    translate: 0;

}

.cart__heading {
    display: flex;
    justify-content: space-around;
}

.cart__heading h1 {
    margin-bottom: var(--size-100);
}

.cart__heading i {
    cursor: pointer;
    color: black;
}



.shopping__cart ul {
    display: grid;
    padding: 1rem;
    gap: 1rem;
}


.shopping__cart ul li {
    border: 2px solid white;
    display: none;
    grid-template-columns: 1fr 1fr;
    /* gap: 2rem; */
    padding: .5rem;
    border-radius: .25rem;
    max-height: 8rem;



}

.shopping__cart ul li.cart-visible {
    display: grid;
}



.cart__img img {
    height: 85%;
    max-width: 90%;
    border-radius: .5rem;
}



.cart__details h1 {
    margin-bottom: .5rem;
}

.cart__details h1,
.cart__details p {
    width: fit-content;
}

.cart__details h1,
.cart__details p,
.cart__details button {
    font-size: .8rem;

}

.cart__details button {
    padding: .5rem 1rem;
    margin-left: 1rem;
}

.cart__options {
    display: flex;
    align-items: center;
    margin-top: 1rem;

}






/* hero Section */

.hero {
    height: 100vh;
    height: 100svh;
    max-width: 100%;
    position: relative;
    overflow: hidden;


}

.hero__img {
    min-height: 100vh;
    min-width: 100vw;
    object-fit: cover;
    /* display: inline-flex; */
    transition: all 1s ease-in;

}

@starting-style {
    .hero__img {
        transform: translateY(-2rem);
        opacity: 0;
    }
}

.hero__card {
    position: absolute;
    top: 30%;
    left: 10%;
    transition: opacity 2s ease-in 1s;

}

@starting-style {
    .hero__card {
        opacity: 0;

    }
}


h1 {
    color: var(--text-color-dark);
    margin-bottom: var(--size-200);
    font-size: var(--font-title-size);
}

p {
    color: var(--text-color-medium);
    font-size: var(--font-description);
    font-weight: bold;
    width: 30ch;
}


/* showing fruits */


.fruit {
    position: absolute;
    opacity: 0;
}

.active-fruit {
    z-index: 1;
    animation: fade 1s ease-in forwards;
}


@keyframes fade {
    from {
        transform: translateY(-2rem);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }

}

/* footer */
.footer__copy {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: var(--font-description);
    bottom: 0;
    left: 0;
    z-index: 1;

}


/* order card */

.order__card {
    border: 2px solid white;
    border-radius: 5px;
    max-width: 60rem;
    display: none;
    position: absolute;
    z-index: 10;
    top: 10%;
    left: 50%;
    translate: -50% 0;
    margin-inline: auto;
    padding: var(--padding-100);
}

.order__card .content {
    display: flex;
    align-items: center;
    gap: 2.5rem;

}

.order__card::before {
    position: absolute;
    content: '';
    inset: 0;
    background-color: hsla(140, 0%, 97%, .025);
    z-index: -1;
    backdrop-filter: blur(16px);
    border-radius: inherit;
}

.order__card ul {
    display: flex;
    margin-top: var(--padding-150);
    justify-content: space-between;
    gap: .5rem;
}

.order__card video {
    border-radius: 5px;
}

.order__card .show__items img {
    cursor: pointer;
}


.order__card p {
    margin-bottom: 1.5rem;
}

.order__card span {
    background-color: var(--text-color);
    width: fit-content;
    align-items: center;
    display: inline-flex;
    text-align: center;
    border-radius: 5px;
    margin-right: 2rem;
}

.order__card label {
    /* background-color: black; */
    display: inline-block;
    width: 2rem;
    height: 2rem;
    color: var(--active-fruit-color);
    cursor: pointer;

}

.order__card input {
    width: 2rem;
    height: 2rem;
    text-align: center;
    background-color: var(--text-color);
    border: none;
    outline: none;


}

.order__visible {
    display: block;
}

.order__card .close__card {
    direction: rtl;
}

.order__card .close__card i {
    cursor: pointer;
}



.order__card input::-webkit-inner-spin-button {
    appearance: none;
    /* -moz-appearance: textfield; */

    -webkit-appearance: none;
    margin: 0;

}

.button[data-type="cart"] {
    font-size: var(--font-size);

}

.order__card .show__window img {
    display: none;
    max-width: 400px;
}


@media screen and (max-width:64em) {

    .order__card {
        top: 0;
        bottom: 0;

    }

    .content {
        flex-direction: column;
    }


}